body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #212529;
}


nav {
    background-color: #2e3047;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}


.nav-text {
    display: flex;
    gap: 100px;
    list-style: none;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.profpic {
    height: 350px;
    width: 260px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.skills {
    border: solid #2e3047;
    margin-top: 15px;
}

.skills ul {
    display: flex;
    gap: 30px;
    justify-content: center;
    justify-items: center;
    color: white;
}

.skills h2 {
    display: flex;
    justify-content: center;
    justify-items: center;
    color: white;
}

.about {
    border: solid #2e3047;
}

.about h2 {
    color: white;
}

.about h2 {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.projects {
    border: solid #2e3047;
    margin-top: 15px;
    margin-bottom: 15px;
}

.projects h2, p, h3, a, ul {
    display: flex;
    justify-content: center;
    justify-items: center;
    color: white;
    text-align: center;
    font-size: 20px;
}



header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

footer {
    background-color: #2e3047;
    color: white;
    padding: 10px 0;
    width: 100%;
}
footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.footer-style {
    display: flex;
    gap: 40px;
    justify-content: center;
    justify-items: center;
}

.contact-style {
    display: flex;
    flex-direction: column;
}

.section-style {
    display: flex;
    flex-direction: column;
    line-height: 2;
}

.copyright-style {
    margin-top: 188px;
    margin-right: 80px;

}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.project-card img {
    height: 680px;
    width: 780px;
    margin-left: 550px;
}








